<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.virjar.ratel_wifilocating">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" />

    <meta-data
        android:name="xposedmodule"
        android:value="true" />
    <meta-data
        android:name="xposeddescription"
        android:value="对WiFi万能钥匙进行的一个挟持，能够显示WiFi万能钥匙的密码" />
    <meta-data
        android:name="xposedminversion"
        android:value="54" />
</manifest>
